header {
    margin-left: 10px;
}

div.rankings {
    margin-left: 20px;
    margin-right: 10px;
    border: inset;
    border-color: rgb(20, 181, 53);
    border-radius: 3px;
    padding: 0 10px 0;
    margin-top: 20px;
}

img{
    max-width: 30vw;
    display: block;
    margin:auto;
    margin-top: 40px;
}