*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0 0 55px 0;
    background-color: black;
    color: rgb(20, 181, 53);
}

nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex;
    overflow-x: auto;
    background-color: black;
    color: rgb(20, 181, 53);
    box-shadow: 0 0 4px rgb(20, 181, 53);
    
}

.nav__link{
    display: flex;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgb(20, 181, 53);
    text-shadow: 0 0 4px rgb(185, 201, 34);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover{
    background-color: rgba(20, 181, 52, 0.367);
}

.nav__link--active{
    color: rgb(20, 181, 53);
    text-shadow: 2px 2px 4px rgb(185, 201, 34);
    background-color: #092205;
}


